<div>
    <img src="<%= book.imageurl%>" />
    <h3> <%= book.title %> </h3>
    <h4> <%= book.authors %> </h4>
    <p style="background-color: #eeeeee; border-radius: 5px; padding: 0 5%; line-height: 150%;">
        <%= book.description%> </p>
    <h4> ISBN: <%= book.isbn%> </h4>
    <h4> BookShelf: <%= book.bookshelf%> </h4>
    <form id="detailsForm" action="/delete/<%=book.bookid%>?_method=DELETE" method="POST">
        <button type="button" id="updateButton">Update Details</button>
        <button id="deleteButton" type="submit">Delete Book</button>
    </form>
</div>



<script>
    $( document ).ready(function() {
        let updateButton = $('#updateButton');
        updateButton.click(function(){
            let editForm = $('#editForm');
            editForm.toggle();
        })
    });
</script>